@model Yangilik

@{
    ViewData["Title"] = "Create Page";
}
<h1>Add New Product</h1>
<div class="text-center">
   
  <button style="background: #444385",background-position: right;>Back</button>

 
 

@*</div>
    <h3>Name:</h3>


    <h3>Detail:</h3>


    <h3>Image:</h3>

    <div class="text-center">
   
  <button style="background: #444385",background-position: right;>Submit</button>
 
  
<a href="/home/editpage">EditPage sahifasiga o'tish</a>

*@
</div>

<form  asp-action="Create" asp-controller="Home" method="post">
    <input asp-for="Title" placeholder="title"/>
    <input asp-for="Description" placeholder="to'liq malumot" />
    <input asp-for="ImageUrl" placeholder="rasm uchun havola" />

    <button type="submit" class="btn btn-success">Yuborish</button>
</form>


