@model Yangilik

@{
    ViewData["Title"] = "Create Page";
}
<h1>Add New Product</h1>
<div class="text-center">
   
 <a style="float:left" class="btn btn-primary" href="/home/index">Yangiliklar pagega o'tish'</a>

 
</div>

<form  asp-action="Create" asp-controller="Home" method="post">
    <input asp-for="Title" placeholder="title"/>
    <input asp-for="Description" placeholder="to'liq malumot" />
    <input asp-for="ImageUrl" placeholder="rasm uchun havola" />

    <button type="submit" class="btn btn-success">Yuborish</button>
</form>


