@{
    ViewData["Title"] = "Edit Page";
}
<h1>Edit Product</h1>
<div class="text-center">
   
  <button style="background: #444385",background-position: right;>Back</button>

 <a href="/home/index">orqaga qaytish</a>
 

</div>
    <h3>Name:</h3>


    <h3>Detail:</h3>


    <h3>Image:</h3>

    <div class="text-center">



   
  <button style="background: #444385",background-position: right;>Submit</button>
 
  
<a href="/home/showproduct">ShowProduct sahifasiga o'tish</a>



</div>

