@model Yangilik

@{
    ViewData["Title"] = "Edit Page";
}
<h1>Edit Product</h1>
@*
<a href="/home/showproduct">ShowProduct sahifasiga o'tish</a>





<form  asp-action="Edit" asp-controller="Home" method="post">
    <input asp-for="Title" placeholder="title"/>
    <input asp-for="Description" placeholder="to'liq malumot" />
    <input asp-for="ImageUrl" placeholder="rasm uchun havola" />

    <button type="submit" class="btn btn-success">Yuborish</button>
</form>
*@



<form  asp-action="Edit" asp-controller="Home" method="post">
    <input asp-for="Title" placeholder="title"/>
    <input asp-for="Description" placeholder="to'liq malumot" />
    <input asp-for="ImageUrl" placeholder="rasm uchun havola" />

    <button type="submit" class="btn btn-success">Yuborish</button>
</form>