 




@model List<Yangilik>
@{
    ViewData["Title"] = "Yangiliklar ro'yhati";
}
<div style="display: grid;">
    <a style="float:left; margin:25px;" class="btn btn-primary" href="/home/CreatePage">Yangi Yangilik yaratish</a>

    
        @foreach (Yangilik yangilik in Model)
        {
            <div class="alert alert-primary" style="height: 90px; margin:15px" role="alert">
                <div>
                  Yangilik sarlavhasi @yangilik.Title
                   Yangilik haqida @yangilik.Description
                   Yangilik rasm havolasi @yangilik.ImageUrl
                </div>
                <div style="float:right">
                      
                    <a class="btn btn-danger" href="/home/delete/@yangilik.Id">Delete</a>
                    <a class="btn btn-success" href="/home/EditPage/@yangilik.Id">Edit</a>
                     <a class="btn btn-success" href="/home/Show/@yangilik.Id">Show</a>
                </div>
            </div>
        }
    
</div>





@*<a class="btn btn-primary" href="/home/CreatePage">Create page sahifasiga o'tish</a>*@

 