@{
    ViewData["Title"] = "Show Product";
}
<h1>Show Product</h1>
<div class="text-center">
   
  <button style="background: #444385",background-position: right;>Back</button>

 <a href="/home/CreatePage">orqaga qaytish</a>
 

</div>
    <h3>Name:</h3>


    <h3>Detail:</h3>



    <h3>Image:</h3>


