@model Yangilik

@{
    ViewData["Title"] = "Show Product";
}
<h1>Show Product</h1>


@*
   <div>
        <h1>Show News</h1>
        <h5><b>Name:</b> <i>Yangillik nomi</i>@yangilik.Title </h5>
        <h5><b>Details:</b>  <i>Yangilik haqida batafsil</i>@yangilik.Description </h5>
        <h5><b>Image:</b>  <i>Yangilik rasmUrl</i>@yangilik.RasmUrl </h5>
    </div>

    <style>
        div {
            margin-top: 10px;
            margin-left: 10px;
        }
    </style>
   *@


    <div class="alert alert-primary" style="height: 90px; margin:15px" role="alert"></div>